* {
    box-sizing: border;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 font-family: sans-serif;
}

/*Barra de navegação*/
nav{
width: 100%;
position: fixed;
background-color: rgb(16, 165, 165);
box-shadow: 5px 5px 30px rgba(0, 0, 0, 15%);
display: flex;
align-items: center;
justify-content: space-between;
}

nav .logo{
width: 60px;
margin: 2vh;
margin-left: 8%;
}

nav ul li{
list-style: none;
display: inline-block;
margin-left: 40px;
}

.navbar{
display: flex;
margin-right: 4vh;
}

.navbar a{
color: white;
font-size: 18px;
padding: 10px 22px;
border-radius: 4px;
font-weight: 500;   
text-decoration: none;
transition: ease 0.40s;
}

.navbar a:hover,.navbar a.active{
background: white;
color: black;
box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
border-radius: 5px;

}

nav ul li a{
text-decoration: none;
color: rgb(255, 255, 255);
font-size: 17px;
}

.title{
text-decoration: none;
/* display: inline-block; */
font-size: 4vh;
color: rgb(255, 255, 255);
padding: 14px 17px;
margin-top: 32vh;
text-align: center;
vertical-align: center;
}

.title h1{
font-size: 10vh;
text-shadow: 2px black;
transition: ease 0.3s;
}

.title h1:hover{
color:transparent;
-webkit-text-stroke: 1px white;

}

.button{
display: inline-block;
margin-top:5vh;
font-size: 25px;
padding: 10px 30px;
color: rgb(21, 74, 74);
/* background-color:rgb(164, 44, 44); */
background-color: white;
border-radius: 20px;
text-decoration: none;
transition: ease 0.30s;
}

.button:hover{
transform: scale(1.1);
color: white;
background-color: rgb(21, 74, 74);
/* border: 2px solid rgb(42, 37, 68); */
box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.4);
padding: 10px 30px;
}

/*Corpo da Página*/
.corpo {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 3, 34);

}

.admin-form {
    margin-top: 80px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.admin-form h1 {
    font-size: 80px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.admin-form h1 span {
    color: rgb(16, 165, 165);
}

.admin-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.admin-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.admin-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.admin-form button:hover {
    background-color: #45a049;
}

table {

    width: 70vw;
    height: 70vh;
    background-color: #fff;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    position: relative;
    top: 80px;
    left: 8%;

}
tbody tr:nth-child(even){
 background-color: #0000000b;

 }
tbody tr:hover{
background-color: #fff6;
}
thead th {
position: sticky;
top: 0;
left: 0;
background-color: #4b0082;
color:white
}
table, th{
padding: 1rem;
border-collapse: collapse;
font-size: 20px;
}
td{
padding: 3rem;
}
/*Rodapé*/
.table_header{
color: white;
font-family: Arial, Helvetica, sans-serif;
}

.icon{
color: black;
}

.footer{
margin-top: 80px;
background-color: rgb(16, 165, 165);


}

.foot{
padding: 20px 0;
}

.footer-content{
display: flex;
flex-wrap: wrap;
justify-content: space-around;

}

.footlinks h4{
margin-top: 30px;
font-size: 20px;
font-weight: 600;
color: white;
margin-bottom: 30px;
position: relative;
}


.footlinks h4::before{
content: "";
position: absolute;
height: 2px;
width: 70px;
left: 0;
bottom: -7px;
background: white;
}

.footlinks ul li{
margin-bottom: 15px;
}

.footlinks ul li a{
font-size: 17px;
color: #dddddd;
display: block;
transition: ease 0.30s;
}

.footlinks ul li a:hover{
transform: translate(6px);
color: white;
}

.social a{
font-size: 25px;
margin: 4px;
height: 40px;
width: 40px;
color: rgb(21, 74, 74);
background-color: white;
display: inline-flex;
justify-content: center;
align-items: center;
border-radius: 20px;
transition: ease 0.30s;
}

.social a:hover{
transform: scale(1.2);
}

.end{
text-align: center;
padding-top: 60px;
padding-bottom: 12px;
}

.end p{
font-size: 15px;
color: white;
letter-spacing: 1px;
font-weight: 300;
}
